//
//  visionOS.xcconfig
//  MacCast
//
//  Created by Saagar Jha on 10/8/23.
//

ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
DEVELOPMENT_ASSET_PATHS = "visionOS/Preview Content"
INFOPLIST_FILE = $(TARGET_NAME)/Info.plist
INFOPLIST_KEY_ITSAppUsesNonExemptEncryption = NO
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks
PRODUCT_BUNDLE_IDENTIFIER = com.saagarjha.MacCast
PRODUCT_NAME = Ensemble
SDKROOT = xros
SUPPORTED_PLATFORMS = xros xrsimulator
TARGETED_DEVICE_FAMILY = 1,2,7
